.page {
}
.container {
	position: relative;
	z-index: 10;
}

.background {
	position: absolute;
	top: 30%;
	min-width: 100%;
	background-color: var(--brand-green);
	height: 500px;
	-webkit-clip-path: polygon(0 0, 100% 20%, 100% 0%, 0 80%);
	clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);

	z-index: 1;
}

.background2 {
	display: none;
}

@media screen and (min-width: 500px) {
	.background {
		height: 1900px;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
		clip-path: polygon(0 0, 100% 0%%, 100% 100%, 0 80%);
	}

	.background2 {
		display: block;
		position: absolute;
		top: 81%;
		min-width: 100%;
		background-color: var(--background);
		height: 900px;
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 80%);
		clip-path: polygon(0 0, 100% 40%, 100% 100%, -10% 60%);

		z-index: 1;
	}

	.mainGrid {
		min-height: 700px;
	}
}
